extends layout

block content
  .page-header
    div
      h1 Друзья пользователя
      p#user-name Загрузка информации о пользователе...
    button.btn.btn-secondary(onclick="goBackToUsers()") ← Назад к списку пользователей
  
  #friends-container.friends-list
    .loading
      .spinner
      p Загрузка списка друзей...
  
  //- Floating Add Friend Button
  button.btn-floating(type="button" data-bs-toggle="modal" data-bs-target="#addFriendModal" title="Добавить друга")
    i.fas.fa-user-plus
    span Добавить друга
  
  //- Add Friend Modal
  #addFriendModal.modal.fade(tabindex="-1")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h5.modal-title
            i.fas.fa-user-plus.me-2
            | Добавить друга
          button.btn-close(type="button" data-bs-dismiss="modal")
        .modal-body
          .mb-3
            label(for="searchFriend") Поиск пользователя
            input#searchFriend.form-control(type="text" placeholder="Введите имя или email..." oninput="searchUsers()")
          #available-users.available-users-list
            p.text-muted Начните вводить для поиска пользователей...

block scripts
  script(type="module" src="/public/js/friends.js?v=4")

